<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src=""></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/fe02716ff2.js" crossorigin="anonymous"></script>

  <title>QQ | Listagem de Funcionário</title>
  <link rel="sortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body container onload="carregaFuncionario()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbarchanges">
    <a class="logosidebar">
      <img src="/static/img/logo_qq.png" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <a href="/registro/" class="nav-link text-white navbarlink">
            Registrar Ponto
          </a>
        </li>
        <li>
          <a href="/historico/" class="nav-link active text-white navbarlink">
            Histórico de Pontos
          </a>
        </li>
        <li>
          <a href="/listagem-funcionario/" class="nav-link text-white navbarlink">
            Funcionários
          </a>
        </li>
      </ul>
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-outline-light btn-logout" title="Desconectar"><i
            class="fas fa-sign-out-alt"></i></button>
      </form>
    </div>
  </nav>
  <div class="telacontainer">

    <div class="btnAddFuncionario">
      <a href="http://localhost:3000/cadastro-funcionario/">
        <button class="btn btn-outline-success btn-sm" id="addFuncionario">Cadastrar funcionario</button>
      </a>
    </div>

    <table class="table responsive">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Matricula</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="listagemFuncionarios">
      </tbody>
    </table>
  </div>
  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <script>
    async function carregaFuncionario() {
      const response = await fetch('/api/users')
      const data = await response.json()
      const container = document.getElementById('listagemFuncionarios')
      let innerTable = []
      for (const usuario of data.user) {
        innerTable.push(`<tr><th scope="row">${usuario.nome}</th>
                        <td>${usuario.matricula}</td>
                        <td btn-funcionario>
                        <form method="GET" action="/api/users/${usuario.id}/view">
                            <button type="submit" class="btn btn-outline-success btn-add" title="Visualizar funcionario"><i class="far fa-eye"></i></button>
                          </form>
                          </td>
                        <td btn-funcionario>
                          <form method="GET" action="/api/users/${usuario.id}/edit">
                            <button type="submit" class="btn btn-outline-warning btn-edit" title="Editar usuario"><i class="far fa-edit"></i></button>
                          </form>
                        </td>
                        <td btn-funcionario>
                          <form method="POST" action="/api/users/${usuario.id}/ban">
                            <button type="submit" class="btn btn-outline-danger btn-ban" title="Bloquear acesso do usuario" onclick="banUsuario()"><i class="fas fa-ban"></i> </i></button>
                          </form>
                        </td></tr>`)
      }

      container.innerHTML = `<table class="responsive">${innerTable.join('')}</table>`
    }
  </script>
  <script>
    function banUsuario() {
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: 'Usuario banido!',
        showConfirmButton: false,
        timer: 1500
      });
    };
  </script>
</body>

</html>