<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css" >
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/fe02716ff2.js" crossorigin="anonymous"></script>
    
    <title>QQ | Entrar </title>
    <link rel="sortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  </head>
  <body container>
    <div class="bodytela">

      <div class="logologin">
        <img src="/static/img/logo_qq.png" alt="logo quero-quero">
      </div>
      <div class="card formlogin">
        <div class="card-body pb-0">
            
          <form action="/" method="POST">
            <div class="form-group row logininput pt-4">
              <div class="col-sm-12">
                <input type="text" name="matricula" class="form-control" id="inputMatricula" placeholder="Matricula">
              </div>
            </div>
            <div class="form-group row logininput">
              <div class="col-sm-12">
                <input type="password" name="senha"  class="form-control" id="inputPassword" placeholder="Senha">
                
              </div>
            </div>
            <div class="form-group row loginbutton">
              <div class="col-sm-8">
                  <button type="submit" class="btn btn-outline-light btn-sm btnlink">
                      Entrar
                  </button>
              </div>
            </div>
          </form>
          
        </div>
        <small class="form-text text-muted senhahelp">
          Para alterar senha entre em contato com o HelpDesk.
        </small>
      </div>

    </div>
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  
  </body>
</html>